@model FastFoodResturant.Models.UnitMaster

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/Edit.css" />

<div class="card card-for-edit">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-action="Edit">
            <input type="hidden" asp-for="UnitId" />

            <div class="form-group">
                <input asp-for="UnitName" id="CategoryName" class="form-control" placeholder="Enter Name" />
                <span asp-validation-for="UnitName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-update">Update</button>
                        <a class="btn btn-cancel" onclick="window.history.back()">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
